
h1{
		font-family: "Gill Sans Ultra Bold Condensed";
		font-size: 50px;
}

h4{
		color: blue;
}

h4{
		color: blue;
}

td{
		font-family: Arial Nova Light;
		font-size: 20px;
		al
}

}

td{
		font-family: Arial Nova Light;
		font-size: 20px;
}

h2{
		color: blue;
		font-size: 30px;
		align-self: center;
}
